-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: mysekolah
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ms_admission`
--

DROP TABLE IF EXISTS `ms_admission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ms_admission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `full_name` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `school_origin` varchar(255) DEFAULT NULL,
  `status` varchar(20) DEFAULT 'pending',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_admission`
--

LOCK TABLES `ms_admission` WRITE;
/*!40000 ALTER TABLE `ms_admission` DISABLE KEYS */;
/*!40000 ALTER TABLE `ms_admission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_gallery`
--

DROP TABLE IF EXISTS `ms_gallery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ms_gallery` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_gallery`
--

LOCK TABLES `ms_gallery` WRITE;
/*!40000 ALTER TABLE `ms_gallery` DISABLE KEYS */;
INSERT INTO `ms_gallery` VALUES (1,'Trial','1777263242_69eee28a3e48b.jpeg','2026-04-27 04:14:02'),(2,'Cek lagi','1777263777_69eee4a19a8c0.jpeg','2026-04-27 04:22:57');
/*!40000 ALTER TABLE `ms_gallery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_messages`
--

DROP TABLE IF EXISTS `ms_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ms_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `message` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_messages`
--

LOCK TABLES `ms_messages` WRITE;
/*!40000 ALTER TABLE `ms_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `ms_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_news`
--

DROP TABLE IF EXISTS `ms_news`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ms_news` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) DEFAULT NULL,
  `content` text DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_news`
--

LOCK TABLES `ms_news` WRITE;
/*!40000 ALTER TABLE `ms_news` DISABLE KEYS */;
INSERT INTO `ms_news` VALUES (1,'Pengumuman - Hari Kartini','<p>trial</p>','1777263669.jpg','2026-04-27 04:21:09'),(2,'Trial','<p>gambar laptop</p>','1777263727.jpeg','2026-04-27 04:22:07');
/*!40000 ALTER TABLE `ms_news` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_settings`
--

DROP TABLE IF EXISTS `ms_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ms_settings` (
  `s_key` varchar(50) NOT NULL,
  `s_value` text DEFAULT NULL,
  PRIMARY KEY (`s_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_settings`
--

LOCK TABLES `ms_settings` WRITE;
/*!40000 ALTER TABLE `ms_settings` DISABLE KEYS */;
INSERT INTO `ms_settings` VALUES ('academic_year','2026/2027'),('app_license_key',''),('app_status','inactive'),('hero_bg','1777277660_gallery_1776844918.jpeg'),('site_favicon','1777265637_logo-smp-penda-mojogedang.png'),('site_logo','1777271219_Gemini_Generated_Image_4b7nd74b7nd74b7n.png'),('stat_achievements','42'),('stat_extracurriculars','15'),('stat_students','1.2k+'),('stat_teachers','85+');
/*!40000 ALTER TABLE `ms_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_socials`
--

DROP TABLE IF EXISTS `ms_socials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ms_socials` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `platform` varchar(50) NOT NULL,
  `url` varchar(255) NOT NULL,
  `icon_text` varchar(10) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_socials`
--

LOCK TABLES `ms_socials` WRITE;
/*!40000 ALTER TABLE `ms_socials` DISABLE KEYS */;
INSERT INTO `ms_socials` VALUES (1,'Facebook','#','FB'),(2,'Instagram','#','IG'),(3,'Twitter','#','TW');
/*!40000 ALTER TABLE `ms_socials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ms_users`
--

DROP TABLE IF EXISTS `ms_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ms_users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `full_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ms_users`
--

LOCK TABLES `ms_users` WRITE;
/*!40000 ALTER TABLE `ms_users` DISABLE KEYS */;
INSERT INTO `ms_users` VALUES (1,'admin','$2y$10$r7Wo5uGX66EyhBtD7bso.eQtDkwu1P8c54XvvldvR/uELGPuh40tm','Super Admin');
/*!40000 ALTER TABLE `ms_users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-27 15:25:56
